.headline,.text {
  font-family: 'IBM Plex Sans', 'Helvetica',Arial,sans-serif;
  font-weight:400;
  font-size: .8rem;
}

.cookie {
  width:150px;
  margin:5px;
  text-align:center;
}

.cookiename {
  font-family: 'IBM Plex Sans', 'Helvetica',Arial,sans-serif;
  font-weight:400;
  font-size: 1.3rem;
  line-height:2rem;
  margin:0;
  padding:0;
}
.property {
  text-transform: uppercase;
  font-size:0.9rem;
}
.description {
  display:flex;
  flex-flow:column;
  width: auto;
  justify-content:space-evenly;
  font-size:0.96em;
  line-height:1em;
}
.row {
  display:flex;
  flex-flow:row;
  margin-bottom:5px;
  background:white;
  width:100%;
  padding:1px;
  justify-content:space-between;
  text-align:left;
  text-decoration:none;
align-items:center
}
.button {
  cursor:pointer
}
.button :hover {
  background:var(--darkgrey)
}
.choice {background: var(--darkgrey);}
.fields {display:flex;flex-flow:column;}
.headline {font-weight:700;width:100%;}
.text {width:100%}
.arrow {font-size:1.5rem;margin-left:5px}
.looser {
  background:var(--darkpink);
}
.winner {
  background: var(--darkgreen);
}
.loosertext {
  color:var(--darkpink);
}
.winnertext {
  color: var(--darkgreen);
}

@media only screen and (max-width: 350px) {
  .headline,.text {
    font-size: .7rem;
  }
  
  .cookie {
    width:100px;
    }
  
  .cookiename {
    font-size: 1rem;
 }
  .property {
    font-size:0.7rem;
  }
  .description {
    font-size:.9em;
    line-height:.9em;
  }
  .row {
    margin-bottom:2px;
    }
}